.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.loader{
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 40px;
    /*display: inline-block;*/
}
svg path,
svg rect{
    fill: #FF6700;
}